###### macOS ######
.DS_Store
.AppleDouble
._*
Icon?

###### Python ######
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env

###### runjob ######
runjob/*
!runjob/.gitkeep
craton.log
craton
!example/craton
.mv
.msc